<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/editarProducto.css" />


    <body>
        <%- include('../partials/header.ejs') %>

            <main>
                <section class="w3-margin-bottom">
                    <form action="/products/edit/<%= productToEdit.product_id %>" class="edit-form" method="POST">
                        <strong>
            <p class="w3-center">Editar <%= productToEdit.product_name %>
            </p>
          </strong>

                        <label for="name" class="form-label">Nombre:</label>
                        <input value="<%= productToEdit.product_name %>" name="name" id="name" class="form-input">

                        <% if(locals.errors && errors.name) { %>
                          <p class="error-msg">
                              <%= errors.name.msg %>
                          </p>
                          <% } %>

                        <label for="description" class="form-label"><strong>
              <p>Descripción:</p>
            </strong></label>
                        <input value="<%= productToEdit.product_description %>" name="description" id="description" class="form-input">

                        <% if(locals.errors && errors.description) { %>
                          <p class="error-msg">
                              <%= errors.description.msg %>
                          </p>
                          <% } %>

                        <label for="size" class="form-label"><strong><p>Tamaño:</p></strong>
            
                            <select name="size">
                              <% for(let i=0; i < sizes.length; i++) { %>
                              <% if(sizes[i].size_id == productToEdit.product_size_id) {%>
                                <option value="<%= sizes[i].size_id %>" selected>
                                  <%= sizes[i].size_name %>
                                </option>
                                <%}else{ %>
                                  <option value="<%= sizes[i].size_id %>" >
                                    <%= sizes[i].size_name %>
                                  </option>
                                <% } %>
                                <% } %>
                              </select>
          </label>

                        <label for="dough" class="form-label"><strong>
              <p>Masa:</p>
            </strong>
            <select name="dough">
              <% for(let i=0; i < doughs.length; i++) { %>
              <% if(doughs[i].dough_id == productToEdit.product_dough_id) {%>
                <option value="<%= doughs[i].dough_id %>" selected>
                  <%= doughs[i].dough_name %>
                </option>
                <%}else{ %>
                  <option value="<%= doughs[i].dough_id %>" >
                    <%= doughs[i].dough_name %>
                  </option>
                <% } %>
                <% } %>
              </select>
          </label>
                        <!-- <input value="<%= productToEdit.product_dough_id %>" name="dough" id="dough" class="form-input"> -->

                        <strong>
            <p>Precio:</p>
          </strong>
                        <input class="w3-margin-bottom" type="number" name="price" id="price" value="<%= productToEdit.product_price %>">

                        <% if(locals.errors && errors.price) { %>
                          <p class="error-msg">
                              <%= errors.price.msg %>
                          </p>
                          <% } %>
                        
                        <ul class="errors"></ul>  

                        <input class="w3-btn w3-round-xlarge w3-green w3-hover-black" type="submit" value="Editar producto">

                    </form>
                </section>
            </main>

            <script src="/js/editarProducto.js"></script>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>