<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/editarProducto.css" /> -->
    <link rel="stylesheet" href="/css/forms-prueba.css" />


    <body class="body-form">
        <%- include('../partials/header.ejs') %>

            <main>
            
                    <form action="/products/edit/<%= productToEdit.product_id %>" class="edit-form " method="POST">
          <div div-form>
            <h4 class="h4-form">Editar <%= productToEdit.product_name %></h4>
            <label class="label-form">
              <span class="span-form top">Nombre</span>
                        <input value="<%= productToEdit.product_name %>" name="name" id="name" class="form-input input-form">
            </label>
          </div>
                        <% if(locals.errors && errors.name) { %>
                          <p class="error-msg">
                              <%= errors.name.msg %>
                          </p>
                          <% } %>

                          <div div-form>
                            <label class="label-form">
                              <span class="span-form top">Descripción</span>
                        <input value="<%= productToEdit.product_description %>" name="description" id="description" class="input-form">
                        
                            </label>
                          </div>
                        <% if(locals.errors && errors.description) { %>
                          <p class="error-msg">
                              <%= errors.description.msg %>
                          </p>
                          <% } %>

                          <div div-form>
                            <label class="label-form">
                              <span class="span-form top">Tamaño</span>
            
                            <select name="size">
                              <% for(let i=0; i < sizes.length; i++) { %>
                              <% if(sizes[i].size_id == productToEdit.product_size_id) {%>
                                <option value="<%= sizes[i].size_id %>" selected>
                                  <%= sizes[i].size_name %>
                                </option>
                                <%}else{ %>
                                  <option value="<%= sizes[i].size_id %>" >
                                    <%= sizes[i].size_name %>
                                  </option>
                                <% } %>
                                <% } %>
                              </select>
                            </label>
                          </div>
          

                          <div div-form>
                            <label class="label-form">
                              <span class="span-form top">Masa</span>
            <select name="dough">
              <% for(let i=0; i < doughs.length; i++) { %>
              <% if(doughs[i].dough_id == productToEdit.product_dough_id) {%>
                <option value="<%= doughs[i].dough_id %>" selected>
                  <%= doughs[i].dough_name %>
                </option>
                <%}else{ %>
                  <option value="<%= doughs[i].dough_id %>" >
                    <%= doughs[i].dough_name %>
                  </option>
                <% } %>
                <% } %>
              </select>
                            </label>
                          </div>
                        <!-- <input value="<%= productToEdit.product_dough_id %>" name="dough" id="dough" class="form-input"> -->

                        <div div-form>
                          <label class="label-form">
                            <span class="span-form top">Precio</span>
                        <input class="input-form" type="number" name="price" id="price" value="<%= productToEdit.product_price %>">
                      </label>
                    </div>
                        <% if(locals.errors && errors.price) { %>
                          <p class="error-msg">
                              <%= errors.price.msg %>
                          </p>
                          <% } %>
                          
                        <ul class="errors"></ul>  

                        <button class="button" type="submit" name="" value="Editar producto">Editar</button>
                        <button class="button-secondary" type="button" onclick="window.history.back();">Cancelar</button>
                    </form>
               
            </main>

            <script src="/js/editarProducto.js"></script>
            <script src="/js/forms.js"></script>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>