<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/editarProducto.css" />


    <body>
        <%- include('../partials/header.ejs') %>

            <main>
                <section class="w3-margin-bottom">
                    <form action="/users/edit/<%= userToEdit.user_id %>?_method=PATCH" method="POST">
                        <strong>
            <p class="w3-center">Editar <%= userToEdit.user_firstname %>
            </p>
          </strong>

                        <label for="firstName" class="form-label">Nombre:</label>
                        <input value="<%= userToEdit.user_firstname %>" name="firstName" id="name" class="form-input">

                        <label for="lastName" class="form-label">Apellido:</label>
                        <input value="<%= userToEdit.user_lastname %>" name="lastName" id="name" class="form-input">

                        <input class="w3-btn w3-round-xlarge w3-green w3-hover-black" type="submit" value="Editar usuario">

                    </form>
                </section>
            </main>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>