<!DOCTYPE html>
<html lang="en">


<%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/forms-prueba.css" />


    <body class="body-form">
        <%- include('../partials/header.ejs') %>

            <main>
                <section class="w3-margin-bottom">
                    <form class="login-form edit-user" action="/users/edit/<%= userToEdit.user_id %>?_method=PATCH" method="POST">
                        <strong>
           <h4 class="h4-form"><%= userToEdit.user_firstname +" "+ userToEdit.user_lastname %>!</h4>


                    <div div-form>
                      <label class="label-form">
                        <span class="span-form top">Nombre</span>
                  <input value="<%= userToEdit.user_firstname %>" name="description" id="description" class="input-form">
                  
                      </label>
                    </div>
                    <div div-form>
                      <label class="label-form">
                        <span class="span-form top">Apellido</span>
                  <input value="<%= userToEdit.user_lastname %>" name="description" id="description" class="input-form">
                  
                      </label>
                    </div>
                    <div class="button boton-dirige">
                        <a href="/users/edit/<%= userToEdit.user_id %>" class="w3-button w3-round w3-green">Editar</a>
                    </div>
                        <button class="button-secondary" type="button" onclick="window.history.back();">Cancelar</button>
                    </form>
                </section>
            </main>

            <%- include('../partials/footer.ejs') %>
    </body>

</html>