<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <link type="text/css" href="/css/forms.css" rel="stylesheet" />

  <body class="body-form">
    <%- include('../partials/header.ejs') %>
    <main>
      <form action="register" class="login-form" enctype="multipart/form-data" method="POST">
        <section class="form-register">
          <h4 class="h4-form">Registrate</h4>
          <input class="control" type="text" name="firstName" placeholder="Nombre" value= "<%= locals.oldData ? oldData.firstName :null%>"/>
          <% if(locals.errors && errors.firstName) { %>
              <p class="error-msg"><%= errors.firstName.msg %></p>
          <% } %>
          <input class="control" type="text" name="lastName" placeholder="Apellido" value= "<%=locals.oldData ? oldData.lastName :null%>"/>
          <% if(locals.errors && errors.lastName) { %>
            <p class="error-msg"><%= errors.lastName.msg %></p>
        <% } %>
          <input class="control" type="email" name="email" placeholder="E-mail" value= "<%= locals.oldData ? oldData.email :null%> "/>
          <% if(locals.errors && errors.email) { %>
            <p class="error-msg"><%= errors.email.msg %></p>
        <% } %>
          <label for="image">Imágen de Perfil</label>
          <input class="control" type="file" name="image" placeholder="Imagen de Perfil"/>
          <input class="control" type="password" name="password" placeholder="Contraseña" value= "<%= locals.oldData ? oldData.password : null %>"/>
          <button class="button" type="submit" name="" value="Crear cuenta"> Crear cuenta </button>
          <button class="button" type="reset" name="" value="Cancelar"> Cancelar </button>
          <p><a href="/users/login">¿Ya tenés una cuenta?¡Ingresá!</a></p>
        </section>
      </form>
    </main>


    <%- include('../partials/footer.ejs') %>
  </body>
</html>
