<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %> 
    User List
    <ul>
      <% for (let i=0 ; i < users.length; i++) { %>
      <li>
        <a> <%= users[i].firstName %> </a>
        <a> <%= users[i].lastName %> </a>
        <a> <%= users[i].email %> </a>
      </li>
      <% } %>
    </ul>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
